# Lists

In this lecture we will cover the list data type, **you will learn**:

- **How to create lists in Python**
- **How to extract items from a list using indexing, slicing, and striding**
- **How to replace and delete items from the list**
- **List operators**

A List is an **ordered** sequence of zero and more objects. Lists are very common and convenient data types in Python. They are similar to strings and tuples in that they support the same slicing and striding syntax. 

The good news is, unlike strings and tuples, lists **ARE MUTABLE**, so we can _replace_ and _delete_ any of their items. It is also possible to insert, replace, and delete _slices of lists_.

A list can be created in different ways:

- An empty list can be created by using empty brackets [ ] 
- A list of one or more items can be created by using a comma-separated sequence of items inside brackets.
- Using the list() function, as we will see later in this lecture

The items of the list can be ANYTHING, numbers, characters, strings, or even another list.

Here are some examples of a list in Python with some indexing, slicing, and striding using the slice operator [ ].

In [46]:
# create empty list
[]

[]

In [32]:
# create list L
L = [17, -12.5, 'kilo', 'M', ['John', 123, 'technician'], 49]

# show the list L
L

[17, -12.5, 'kilo', 'M', ['John', 123, 'technician'], 49]

In [33]:
# indexing: extract first item in L, same as L[-6]
L[0]

17

In [34]:
# slicing: extract from start to item at index 3 (execluding item at index 4)
L[:4]

[17, -12.5, 'kilo', 'M']

In [35]:
# slicing: extract last item, same as L[5]
L[-1:]

[49]

In [36]:
# slicing: same as st[0:] but not including last item 49
L[:-1]

[17, -12.5, 'kilo', 'M', ['John', 123, 'technician']]

In [4]:
# slicing: extract first character of third item, try L[-4][0]
L[2][0]

'k'

In [5]:
# slicing: L[4][2]=L[4][-1]=L[-2][2]=L[-2][-1]
L[4][2]

'technician'

In [37]:
# striding: all items
L[0:6:1]

[17, -12.5, 'kilo', 'M', ['John', 123, 'technician'], 49]

In [38]:
#striding: all items in reverse order, extract from last item backward to first item
L[::-1]

[49, ['John', 123, 'technician'], 'M', 'kilo', -12.5, 17]

## Replace items in a list

To replace an item in a list with a new one, use the indexing square brackets to access that item then assign new value to it.

In [39]:
L[2] = 'kilogram'
L

[17, -12.5, 'kilogram', 'M', ['John', 123, 'technician'], 49]

In [40]:
L[4] = ['Sarah', 224, 'clerk']
L

[17, -12.5, 'kilogram', 'M', ['Sarah', 224, 'clerk'], 49]

# Delete items from a list

To delete an item from a list, use **del** statement as shown below.

In [41]:
L = [17, -12.5, 'kilogram', 'M', ['Sarah', 224, 'clerk'], 49]

#delete forth item from list L at index (position) 3
del L[3]
L

[17, -12.5, 'kilogram', ['Sarah', 224, 'clerk'], 49]

## Calling list datatype as a function list()

Python allows us to treat any data type like int, float, string, tuple as functions as we have seen the previous lectures. The list data type can also be called as a function, which is **list()**. As we have seen in the floating-point lecture, section (Using float as a function), there will be some cases when we call list():

 - Case 1: If we call list() with no arguments, it returns an empty list.
 - Case 2: If we give a list argument to list(), it returns a shallow copy$^❄$ of that list argument.
 - Case 3: If we give any other object to list(), it tries to convert that object to a list

$^❄$A In Pytho, there are two types of copying: 1) **shallow copying** and 2) **deep copying**. A **shallow copying** _does not_ copy the object (like a list) entirly with all its items, instead it copies the object and put references (pointers) to the items of the original object. Deep  copying, on the other hand, creates a copy of the original object with all its items. Shallow copying is better as it saves memory space in the computer.


<font color='red'> **RULE** </font>:
list() function does not accept more that one argument.
### Examples

In [42]:
#case 1
list()

[]

In [43]:
#case 2
list(L)

[17, -12.5, 'kilogram', ['Sarah', 224, 'clerk'], 49]

In [44]:
#case 3, passing string argument, getting list
list('Hello World!')

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!']

In [45]:
#case 3, passing tuple argument, getting list
list(('a', 'b', 2, 4))

['a', 'b', 2, 4]

In [1]:
#case 3, passing float argument, getting TypeError as we can not iterate a float. Try to pass int 
list(3.14)

TypeError: 'float' object is not iterable

## Lists operators

Lists in Python support the following operators:

 - Membership testing with **in** and **not in** operators
 - Concatenation with + operator
 - Extending with += (means the appending of all items in the right-hand side of the operator +=)
 - Replication with $*$ and $*$= operators

In [52]:
new_list = ['local user', [2, 3, 5], 'first', 'mid', 'last', 18.5, 2010]

#membership testing
print('local user' in new_list)
print([2, 3, 4] in new_list)
print('second' not in new_list)

True
False
True

In [53]:
#concatenation with +
new_list + ['hello!', 2018]

['local user', [2, 3, 5], 'first', 'mid', 'last', 18.5, 2010, 'hello!', 2018]

In [57]:
#extending with +=
my_list = [1, 'new']
my_list += 'client'
my_list

[1, 'new', 'c', 'l', 'i', 'e', 'n', 't']

In [66]:
#replication with ∗ and ∗=

L = ['paper', 'A', 4]
print(L * 3)
L *= 4
L

['paper', 'A', 4, 'paper', 'A', 4, 'paper', 'A', 4]

['paper', 'A', 4, 'paper', 'A', 4, 'paper', 'A', 4, 'paper', 'A', 4]

## The len() function

To find the length of a list, use the len() function.

In [2]:
L = [17, -12.5, 'kilo', 'M', ['John', 123, 'technician'], 49]
print(L)

print("length of list L:", len(L))

[17, -12.5, 'kilo', 'M', ['John', 123, 'technician'], 49]
length of list L: 6

## Good Job!

## Now let's move on to discuss list comprehension.