# Sets

In this lecture we will cover sets in Python, you will learn:

 - **What is a set and its features**.
 - **Calling a set data type as a function, what are the cases?**
 - **Membership operators**.
 - **Set Operators**.
 
# What is a set in Python ?

A set is an _**unordered**_ collection of zero or more objects, these objects are hashable as discussed in the previous lecture.

## Sets features

1. **Sets are mutable**: we can easily add or remove items from a set
2. **Sets are unordered**: sets in Python _**cannot be sliced or strided**_ because there is no notion of index postion.

Take a look at the following code and its created set (in the image below):

In [2]:
s = {8, "bird", 0, frozenset({1, 6, 9}), -30, ("z", 20), "moon", 1041, 8}
s

{('z', 20), -30, 0, 1041, 8, 'bird', frozenset({1, 6, 9}), 'moon'}

<img src="set.png">

We notice two things when printing the set s:
    
 1. The set's items were printed in an arbitrary order
 2. The item 8 was repeated 2 times in the set but was printed only one time. **Sets always contain unique items**, it is safe to add duplicate items but poinless. For example, in Python these 3 sets are the same:
 
 - set("apple")
 - set("aple")
 - set('e', 'p', 'a', 'l')
 
Hence, a set is a collection of _**unique**_ items.

# Calling set data type as a function set()

You can call the set as a function and usually you will have 3 cases:

 - **Case 1**: If no arguments supplied, set() returns an empty set
 - **Case 2**: If the argument is a set, set() returns a shallow copy of that argument
 - **Case 3**: If any other object is supplied as an argument, set() attempts to convert the given object to a set.
 
**NOTE**: The funtion Set() does not accept more than one argument.

### Examples:

In [23]:
#case 1
s = set()
s

set()

In [24]:
#case 2
set({('z', 20), -30, 0, 1041, 8})

{('z', 20), -30, 0, 1041, 8}

In [25]:
#case 3
set("Hello World!")

{' ', '!', 'H', 'W', 'd', 'e', 'l', 'o', 'r'}

**RULE**: As we have seen, we can create a _nonempty_ set using either:

- comma-separated sequence of items inside braces, OR 
- the set() function. 

However, _**empty sets can only be created using the set() function**_. You can not create an empty set using an empty braces { }, as they are used to create an empty dictionary (dict) as we will see in the dictionary lecture.

# Len() function

Sets support the len() function to find the length of the set, for example:

In [26]:
s = {"apple", 3}
len(s)

2

# Membership operators in and not in

We can also test if an item is a member of a set or not, example:

In [27]:
3 in s

True

In [28]:
"banana" in s

False

In [29]:
'apple' not in s

False

# Set operators

In this topic we will talk about the operators that we can apply to sets. There are four operators as listed below with their definitions:

 1. **Union**: the union (A ∪ B) of two sets A and B is the set the contains all elements in the set A and the set B, with no duplicate. **In Python, we use the bar character (|) for union**.  
 2. **Intersection**: the intersection (A ∩ B) of two sets A and B is the set that contains all elements of A that also belong to B (or equivalently, all elements of B that also belong to A), but no other elements. **In Python, we use the and character (&) for intersection**.
 3. **Difference**: the difference (A ∖ B) of two sets A and B is the set of elements in A but not in B. **In Python, we use the minus character (-) for difference**.
 4. **Symmetric difference**:  the symmetric difference of two sets is the set of elements which are in either of the sets and not in their intersection. **In Python, we use the carrot character (^) for symmetric difference**.
 
<font color='red'> **NOTE** </font>: these operators are also called **_binary operators_** because they are taking **_two_** operands (sets) to perform the operation.
 
## Examples.

In [30]:
# unioin of 2 sets
set('pecan') | set('pie')

{'a', 'c', 'e', 'i', 'n', 'p'}

In [31]:
# intersection of 2 sets
set('pecan') & set('pie')

{'e', 'p'}

In [32]:
# difference of 2 sets
set('pecan') - set('pie')

{'a', 'c', 'n'}

In [33]:
# symmetric difference of 2 sets
set('pecan') ^ set('pie')

{'a', 'c', 'i', 'n'}

### Great Job!

### You have learned a lot about set basics in Python, Let's move on and practise set methods.